@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

html, body {
    height: 100%; /* Extiende el alto del body */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}