body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe al menos toda la ventana */
}

main {
    flex: 1; /* Hace que el contenido principal crezca para ocupar el espacio disponible */
}


